
  <!--
    File Name: contact.ejs
    Student Name: Fazlur Rahman
    Student ID: 301342012
    Date: 25 September 2024
  -->

<section class="about-content">
  <h2>About Me</h2>
  <img src="/images/image.jpeg" alt="Your Photo" class="about-img" style="width: 150px; height: 150px;">
  <p>My name is Fazlur Rahman, and I am a Software Engineering Technology Student specializing in web development. I love solving complex problems and building innovative solutions.</p>
  <p>Download my <a href="documents/Fazlur_Rahman.pdf" target="_blank">Resume</a> here.</p>
</section>