 <!--
    File Name: contact.ejs
    Student Name: Fazlur Rahman
    Student ID: 301342012
    Date: 25 September 2024
  -->


<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
