
 <!--
    File Name: contact.ejs
    Student Name: Fazlur Rahman
    Student ID: 301342012
    Date: 25 September 2024
  -->



<section class="projects-content">
  <h2>Projects</h2>
  <div class="project">
    <img src="/images/project1.jpg" alt="Project 1">
    <h3>Car Dealer Database Management System</h3>
    <p>Developed a comprehensive database system for Car dealerships using Oracle, and SQL.</p>
    <p>Developed a Library Management System</p>
  </div>
  <div class="project">
    <img src="/images/project2.jpg" alt="Project 2">
    <h3>Library Management System</h3>
    <p>Description of project 2. This project involves a mobile app for social networking.</p>
  </div>
  <div class="project">
    <img src="/images/project3.jpg" alt="Project 3">
    <h3>Web Development Project</h3>
    <p>Created a website for the Company using C#, HTML, JavaScript, and CSS.</p>
    <p>The site showcased active listings, properties, a contact form, and a site map.</p>
  </div>
</section>