

 <!--
    File Name: contact.ejs
    Student Name: Fazlur Rahman
    Student ID: 301342012
    Date: 25 September 2024
  -->


<section class="services-content">
  <h2>Services I Offer</h2>
  <div class="services-list">
    <div class="service-item">
      <img src="/images/web.jpg" alt="Web Development" class="service-img">
      <h3>Web Development</h3>
    </div>
    <div class="service-item">
      <img src="/images/mobile.jpg" alt="Mobile App Development" class="service-img">
      <h3>Mobile App Development</h3>
    </div>
    <div class="service-item">
      <img src="/images/prog.jpg" alt="General Programming" class="service-img">
      <h3>General Programming</h3>
    </div>
    <div class="service-item">
      <img src="/images/ui_ux.jpg" alt="UI/UX Design" class="service-img">
      <h3>UI/UX Design</h3>
    </div>
  </div>
</section>